common/*

!common/platform/olimex-stm32f103-stk/board/*

Lab04/buttonmanagerWork/xf/doxygen/output/html/

Lab04/SM/

Lab04/buttonmanagerWork/xf/

Lab04/buttonmanagerWork/

Lab04/build-buttonmanager-Desktop-Debug/

Lab03/.vscode/

hal-project/Debug/

hal-project/launch/

common/xf/

common/platform/olimex-stm32f103-stk/*

DeSeNetLaboratory/


